
  body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/images/pexels-pixabay-159652.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  }
  
#forms{
    background-color: #00000070;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    border-radius: 10px;
}
    
    
    form {
      width: 300px;
      margin: 0 auto;
      padding: 20px;
      font-family: Arial, sans-serif;
    }
    
  
    
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      width: 100%;
      height: 30px;
      margin-bottom: 20px;
      padding: 5px;
      font-size: 16px;
      border-radius: 3px;
      border: 1px solid #ccc;
    }
    
    #Cadastrar {
      width: 30%;
      height: 40px;
      margin: auto;
      display: block;
      background-color: #000000;
      color: #fff;
      font-size: 16px;
      border-radius: 3px;
      border: none;
      cursor: pointer;
    
    }
  
    #data{
      width: 100%;
      height: 30px;
      margin-bottom: 20px;
      padding: 5px;
      font-size: 16px;
      border-radius: 3px;
      border: 1px solid #ccc;
  
    }
    #Cadastrar:hover{
      background-color: #ff0000
    }

    footer{

        color: #000000;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }