nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
}



nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}
p{
 font-weight: bold;
}
.container {
  background-color:#eee;
  padding: 20px;
  font-family: Arial, sans-serif;
  border-radius: 5px;
 
}

.col-25{
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75{
  float: left;
  width: 75%;
  margin-top: 6px;
  
}
.col-75:hover{
  box-shadow: 0 0 3px 3px black;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}



input[type=text],input[type=email],input[type=password],input[type=date]{
  border: 1px solid #ccc;
  width: 100%;
  padding: 15px;
  resize: none;
  border-radius: 5px;

  
}
label{
  padding: 12px 12px 12px 0;
  display: inline-block;
  
}

#botao{
  background-color: rgb(5, 5, 173);
  float: right;
  color: #ccc;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none; 
}
#botao:hover{
  background-color: rgb(3, 3, 124);
 
}

