* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
.container > .logo  {
  color : white
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  border-bottom-left-radius: 25px ;
  border-bottom-right-radius: 25px ;

  
}

.logo {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
  
}

nav {
  display: flex;

}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
  margin-top: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  
}

nav ul li a:hover {
  background-color: #fff;
  color: #333;
}

section.top-stories {
  padding: 50px 0;
}

section.top-stories h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

section.top-stories ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

section.top-stories ul li {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  
}

section.top-stories ul li:hover {
  transform: translateY(-5px);
}

section.top-stories ul li a {
  display: block;
  text-decoration: none;
  color: #333;
}

section.top-stories ul li img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

section.top-stories ul li h3 {
  font-size: 20px;
  margin: 10px 0;
}

section.top-stories ul li p {
  font-size: 16px;
  margin-bottom: 10px;
}

section.video {
  background-color: #fff;
  padding: 50px 0;
}

section.video h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.video-player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.editor-picks {
  padding: 50px 0;
}

section.editor-picks h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

section.editor-picks ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

section.editor-picks ul li {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  
}

section.editor-picks ul li:hover {
  transform: translateY(-5px);
}

section.editor-picks ul li a {
  display: block;
  text-decoration: none;
  color: #333;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 18px;
}

.social-media a {
  margin: 0 10px;
  color: #fff;
  font-size: 19px;
}


.fab {
  font-size: inherit;
  font-style: normal;  
}

.newsletter{
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  border-style: ridge;
  margin: center;
  height: 125px;
  width: 800px;
  display: block;
  font-family: fantasy;
  background-image: url('/images/pexels-pixabay-159652.jpg');
  
  
}

.subtitle{
  margin-top: 50px;
}

.link-sub{
  text-decoration: none;

}



.container-1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

section.top-stories-1{
  padding: 50px 0;
}

section.top-stories-1 h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

section.top-stories-1 ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

section.top-stories-1 ul li {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  transition: all 0.3s ease;
}

section.top-stories-1 ul li:hover {
  transform: translateY(-5px);
}

section.top-stories-1 ul li a {
  display: block;
  text-decoration: none;
  color: #333;
}

section.top-stories-1 ul li img {
  width: 200%;
  height: 400px;
  object-fit: cover;
}

section.top-stories-1 ul li h3 {
  font-size: 20px;
  margin: 10px 0;
}

section.top-stories ul li p {
  font-size: 16px;
  margin-bottom: 10px;
}

  