nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
}


.notice1{
    border-radius: 20px;
    width: 670px;
    height: 300px;
    margin-left: 100px;


}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

#lorem{
text-align: left;

}

#minha-caixa {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
  left: 500px;
  top: 0;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.fotos{
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  text-decoration: solid;
  align-items: center;
  border-radius: 10px;
}

#paragrafo-leia{
  text-align: center;

}

.postagem {
  width: 30%;
  height: 1900px;
  background-color: #eee;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  float: right;
  
}
.notice1p{
  height: 100px;
  width: 680px;
  padding-left: 100px;
}

.footer{

border-style: solid;
background-color: #111;
color:#eee;
}








