* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: #fff;
  color: #333;
}

* {
  box-sizing: border-box;
}
p{
 font-weight: bold;
}


.col-25{
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75{
  float: left;
  width: 75%;
  margin-top: 6px;
  
}
.col-75:hover{
  box-shadow: 0 0 3px 3px black;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}



input[type=text],input[type=email],input[type=password],input[type=date]{
  border: 1px solid #ccc;
  width: 100%;
  padding: 15px;
  resize: none;
  border-radius: 5px;

  
}
label{
  padding: 12px 12px 12px 0;
  display: inline-block;
  
}

#botao{
  background-color: rgb(5, 5, 173);
  float: right;
  color: #ccc;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none; 
}
#botao:hover{
  background-color: rgb(3, 3, 124);
 
}