@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;1,100&family=Open+Sans:ital,wght@0,300;0,500;0,700;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1d1d1d;
  color: #eee;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial;
  justify-content: center;
  padding: 2rem 5rem;
}
body.modalOpen > *:not(#lightbox) {
  filter: blur(5px);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 10.5%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #020410;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.header label {
  margin-right: 10px;
  color: aliceblue;
  font-size: 32px;
  display: inline;
  justify-content: left;
  font-family: "Libre Baskerville", serif;
}

.navbar a {
  position: relative;
  font-size: 16px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  margin-right: 30px;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #eee;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.5s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.navbar a:hover::after {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  opacity: 1;
}

.search-bar {
  width: 250px;
  height: 45px;
  background: transparent;
  border: 2px solid #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #e4e4e4;
  padding-left: 10px;
}

.search-bar input::placeholder {
  color: #e4e4e4;
}

.search-bar button {
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-bar button i {
  font-size: 22px;
  color: #e4e4e4;
}

.container .content {
  position: absolute;
  top: auto;
  left: 0;
  width: 58%;
  height: 100%;
  background: transparent;
  padding: 80px;
  color: #e4e4e4;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.content .logo {
  font-size: 30px;
  color: #020410;
}

.card {
  position: relative;
  align-items: center;
  width: 75vw;
  max-width: 650px;
  padding: 50px 30px 50px 20px;
  background: #ffff;
  margin-top: 10%;
  border-radius: 24px;
  margin-left: 25%;
}

.image {
  width: 240px;
  height: 240px;
  display: none;
}

.image:first-of-type {
  display: block;
}

.card img {
  max-width: 280px;
  width: 28vw;
  height: 300px;
  object-fit: cover;
  margin-right: 90px;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}

.title-card {
  color: #020410;
}

.card h2 {
  font-size: 22px;
  margin-right: 30px;
}

.card h3 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0 0 0/90%);
}

.card p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(0 0 0/70%);
  bottom: 24px;
}

html {
  height: 100%;
}

.card button {
  border: 0;
  font-family: inherit;
  padding: 10px 9px;
  font-size: 10px;
  margin-left: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

@media (width<=740px) {
  .card {
    margin: 0 40px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .card h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .card img {
    margin: -100px 0 30px 0;
    width: 100%;
    max-width: 1000px;
  }
}

.gallery {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.photo {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
}

.photo img {
  max-width: 100%;
}

.photo h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #020410;
}

.newspaper {
  margin-top: 10%;
  column-count: 2;
  column-gap: 40px;
  column-rule: 2px solid rgb(150, 159, 161);
}

.newspaper h1 {
  margin-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffffbb;
}

/*Galeria de imagem 1*/
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.image-1 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.image-2 {
  grid-column-end: span 1;
  grid-row-end: span 1;
}

.image-3 {
  grid-column-end: span 1;
  grid-row-end: span 3;
}

.gallery img {
  width: 100%;
  height: auto;
}

/*Galeria de imagem sky*/

.gallery-sky {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.gallery-sky img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.image-4 {
  grid-column-end: span 1;
  grid-row-end: span 2;
}

.image-5 {
  grid-column-end: span 1;
  grid-row-end: span 2;
}

.about-sky {
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffffbb;
  text-align: center;
}

.about-sky h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 32px;
  text-align: center;
}

/*Sobre as fotos do NewsBrasil*/

.about-news-brazil-photos {
  margin-top: 2%;
  column-count: 2;
  column-gap: 40px;
  column-rule: 2px solid rgb(247, 247, 247);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.about-news-brazil-photos h2 {
  margin-bottom: 1%;
}

/*Galeria de imagem jungle*/
.gallery-jungle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
}

.gallery-jungle img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.image-6 {
  grid-column-end: span 1;
  grid-row-end: span 2;
}

.image-7 {
  grid-column-end: span 1;
  grid-row-end: span 2;
}

.image-8 {
  grid-column-end: span 1;
  grid-row-end: span 2;
}

.gallery-jungle h2 {
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffffbb;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

:root {
  --color-text: #2c3e50;
  --color-text-light: #34495e;
  --color-white: #ecf0f1;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}

/* html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  color: var(--color-text);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
} */

ul,
li {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.about-world h2 {
  margin-bottom: 1%;
  color: #ecf0f1;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.about-world {
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffffbb;
  margin-right: 30%;
}

.carousel {
  /*width: 50vw;
   height: 60vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 50vw;
}

.carousel_slider {
  width: 100%;
  height: 87%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.content_inner_slider {
  width: 100%;
  height: 100%;
  display: flex;
}

.img {
  min-width: 50vw;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.prev_button {
  left: 0;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  cursor: pointer;
  position: absolute;
  color: var(--color-white);
  font-size: 3rem;
  transform: translateY(-50%);
  top: 50%;
}

.next_button {
  right: 0;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  cursor: pointer;
  position: absolute;
  color: var(--color-white);
  font-size: 3rem;
  transform: translateY(-50%);
  top: 50%;
}

.dots {
  display: flex;
  margin: 1rem 0;
}

.dot {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--color-text-light);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.form {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.teste {
  display: flex;
  justify-content: center;
  align-items: center;
}

body.modalOpen > *:not(#lightbox) {
  filter: blur(5px);
}

p {
  padding: 0;
  margin: 0.5rem 0;
  img {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  img.load {
    opacity: 1;
  }

  &.images {
    position: relative;
    display: flex;
    max-width: 100%;
    flex-direction: row;
    align-items: stretch;

    span.image {
      width: 100%;
      position: relative;
      box-sizing: border-box;
      border-radius: 4px;
      overflow: hidden;
      text-align: center;
      & + span.image {
        margin-left: 0.5rem;
      }
    }
  }
}

#lightbox {
  &.open {
    display: block;
  }

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  text-align: center;

  overflow: hidden;
  white-space: nowrap;
  font-size: 0;

  &:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: "";
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  img {
    display: none;
    white-space: normal;
    vertical-align: middle;
    box-shadow: 0 0 15px rgb(0, 0, 0);
  }

  img.current {
    display: inline-block;
    z-index: 2;
  }

  img.previous,
  img.next {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  img.previous {
    right: 90%;
  }

  img.next {
    left: 90%;
  }

  img.previous,
  img.next {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    z-index: -1;
  }
}

.field-1 img {
  width: 600px;
  height: 500px;
}

.field-1 h2 {
  margin-top: 2px;
  font-size: 32px;
  text-align: center;
  font-family: "Libre Baskerville", serif;
}
.field-2 img {
  width: 900px;
  height: 600px;
}

.field-2 h2 {
  margin-top: 2px;
  font-size: 32px;
  text-align: center;
  font-family: "Libre Baskerville", serif;
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-logo img {
  max-width: 500px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.loader-logo img {
  max-width: 400px;
  animation: pulse 2s infinite;
}




/* Card animado com informações sobre o mundo  */
h1 {
	font-size: 4.25vmin;
	text-align: center;
	color: white;
}

.metric-logo-history h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-view-world p {
	font-size: max(10pt, 2.5vmin);
	line-height: 1.4;
	color: #0e390e;
	margin-bottom: 1.5rem;
}

.card-view-world {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 85vmin;
	height: 25em;
	border: 8px solid;
	border-image: linear-gradient(-50deg, rgb(223, 255, 223), #dbfcdb, rgb(94, 103, 94), rgb(184, 221, 184), rgb(113, 113, 113), #a4aaa4, rgb(66, 66, 66)) 1;
	margin: 2rem auto;
	transition: .3s ease-in-out;
	position: relative;
	overflow: hidden;
}
.overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem .75rem;
	background: #7b847b;
	transition: .4s ease-in-out;
	z-index: 1;
}

.overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15vmin;
	height: 100%;
	padding: .5rem 0 0 .5rem;
	border: 3px solid;
	border-image: 
    	linear-gradient(
      	to bottom, 
      	#AEA724 5%,
      	forestgreen 35% 65%,
      	#AEA724 95%
    	) 0 0 0 100%;
	transition: .3s ease-in-out .2s;
	z-index: 1;
}
.image-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-size: cover;
  background-image: url("/logo/METRIC.png");
	transition: .3s ease-in-out;
    width: 450px;
    height: 300px;
  
}
.image-content-2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-size: cover;
  background-image: url("/logo/easy-metric.png");
	transition: .3s ease-in-out;
    width: 450px;
    height: 300px;
  
}
.image-content-3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-size: cover;
  background-image: url("/logo/neon-metric.png");
	transition: .3s ease-in-out;
    width: 450px;
    height: 300px;
  
}


.text-card {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	padding: 3vmin 4vmin;
	background: #fff;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
	overflow-y: scroll;
}

.card-view-world:hover .overlay
 {
	transform: translateX(-60vmin);
}
.card-view-world:hover .image-content {
	width: 30vmin;
}
.card-view-world:hover .overlay-content {
	border: none;
	transition-delay: .2s;
	transform: translateX(60vmin);
}


/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.pop { animation-name: pop; }
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide { animation-name: slide; }
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left { animation-name: slide-left; }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {animation-name: slide-up;}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}