@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,400;1,500&display=swap');


*{
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    

}

body{
    height:  100vh;
    /* background: linear-gradient(120deg, #56258e, rgba(28, 45, 197, 0.133)); */
    align-items: center ;
    justify-content: center;
    display: flex;

}

.clock{
    display: flex;
    align-items: center;
    justify-content: space-around ;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5)
}

.clock div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background:  rgba(5, 5, 5, 0.9);
    box-shadow: 5px 5px 15px rgba(5, 5, 5, 0.7);
    border-radius: 4px;
    letter-spacing: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.clock span{

    font-weight: bolder;
    font-size: 60px;
}

.clock span.time{
    font-size: 10px;

}


.button {
    border: none;
    outline: none;
    padding: 30px;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    background-color:#0604049e ;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.915);
    color: aliceblue;
    margin-left: 2%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover{
    background-color: #ffffff;
    animation: pulse 1s infinite ;
    -webkit-animation: pulse 1s infinite ;
    color: black;
}

.button:active{
    top: 2px;
}


#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loader-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader-logo img {
    max-width: 500px; 
  }
  
  @keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
  }
  
  .loader-logo img {
    max-width: 400px;
    animation: pulse 2s infinite;
  }