body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    -webkit-filter: blur(10.6);
}

.welcome-container {
  filter: blur(10.6);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('pexels-pincalo-15030788.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
}

.text-with-background {
    background-color: #000000b1;
    padding: 20px 30px;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}



  a{
    color: #ffffff;
    text-decoration: none;
    display:block;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    padding:0 6px;
    text-transform: uppercase;
    transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
    padding: 10px 20px;

    font-size: 0.875rem;
    letter-spacing: .15rem;
    line-height: 1.8;
  }
  
  a:hover{
    color:#CF2034;
  }


  .link{
    position: relative;
    z-index:1;
    padding:2px 6px;
  }
  
  .link:after {
    position: absolute;
    top:0; bottom: 0;
    right: 0;left: 0;
    display: block;
    background-color: #ffffff;
    content: "";
    transform: translate3d(-101%,0,0);
    z-index:-1;
    transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
  }
  
  .link:hover {
    color: black;
  }
  
  .link:hover:after {
    transform: translate3d(0,0,0);
  }
/* 
  .logo{
    background-color: #000000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    filter: blur(10);
    -webkit-filter: blur(10);

}

.logo img{
    height: 200px;
    width: 400px;
} */